html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #111;
    margin-bottom: 60px;
}

.navbar-custom {
    background: linear-gradient(90deg, #111, #005592);
    border-bottom: 2px solid #005592;
}

    .navbar-custom .nav-link {
        color: white !important;
    }

        .navbar-custom .nav-link:hover {
            color: skyblue !important;
        }

.text-white-center {
    text-align: center;
    color: white;
}