@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-white-center">
    <h1 class="display-4">Welcome to ER Nightreigh Builder</h1>
    <a class="git-link" href="https://github.com/D1xer231/EL-Nightreigh-Builder" target="_blank">GitHub</a>
</div>
